<header>
  <!-- TODO: put logo img later -->
  <a href="/"><img src="/public/images/devsynclogo.png" height="70px" width="70px"/></a>
  <nav class="primary-navigation">
    <ul>
      <li><a href="#">Solutions</a></li>
      <li><a href="#">Product</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Guide</a></li>
      <% if (isAuthenticated) { %>
        <li><a href="/profile/">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
      <% } %>
      <!-- this allows you to logout if you are logged in and   if you're logged in, you can log out-->
    </ul>
  </nav>
</header>
