<html lang="en">
<style>
    #addUserModal{
position: fixed;
    }
    .close-btn {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 24px;
            cursor: pointer;
            color: #666;
            transition: color 0.2s;
        }

        .close-btn:hover {
            color: #000;
        }

</style>
<body>

    <button type="button" class="btn btn-primary" id="addUserModalTrigger">>Add a User</button>
    <div id="addUserModal" class="modal" >
        <form id="addUserForm" action="/project/addUser"  method="GET" class="modal-content"  >
            <h2> Add new users to your project.</h2>
            <span class="close">&times;</span>
            <div class="form-group">
                <label for="userName">Name:</label>
                <input type="text" id="userName" required>
            </div>
            <div class="form-group">
                <label for="documentContent">User Type:</label>
                <select id="UserORAdmin" required>
                    <option value="userId">User</option>
                    <option value="adminId">Admin</option>
                </select>
            </div>
            <button type="submit">Add Colleage</button>
        </form>
    </div>
    
    <script type="module">
        const addUserWindow = document.querySelector('#addUserForm')
        console.log("Listeners:", addUserWindow.eventListeners);
        addUserWindow.addEventListener("submit", async function (event){
            event.preventDefault();
            let userName = document.getElementById("userName").value
            let userType = document.getElementById("UserORAdmin").value
            console.error("userType userName", userName,userType);
            try{
                let newUser = await fetch(`/project/addUser`,{
                    method: 'PUT',
                    headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({ userName, userType, projectId}),

                }) // Handle server response
                const responseData = await newUser.json();
                if (newUser.ok) {
                    console.log("User added successfully:", responseData);
                } else {
                    console.error("Error adding user:", responseData);
                }
            } catch (error) {
                console.error(error, "User not found");
            }
        });
    </script>
</body>

</html>