<head>
    <link rel="stylesheet" href="/css/chat.css" </head>

    <aside id='chat-box'>
        <h2>chat</h2>
        <section id="message-container">

        </section>
        <fieldset>

            <form id="chatForm">
                <!-- action="/project/chat<%= project._id %>"method='POST'> -->
                <label for="message">
                    Message
                </label>
                <input type="text" id='message-input'>
                <button #id='send-button' type='submit' class='btn-primary btn'>Send</button>
                <!-- <input type='text' id="room-input"> ,<button type='button' id='room-button'>Join</button> -->
            </form>

        </fieldset>
    </aside>
    <script>
        const roomName = "<%= project.name %>";
    </script>

    <script src="/js/socket.io.js"></script>
    <script src='/js/addUserModal.js' type='module'></script>
    <!-- this what have to be it's own script. -->
    <script src='/js/chat.js' type="module"></script>