<footer>
  <div>
    <h2>Icon Links</h2>
    <nav>
      <ul>
        <li><a href="https://www.linkedin.com/company/100devs/"><img src="/images/LI-In-Bug.png" width="50px"
              height="45px" /></a></li>
        <li><a href="https://discord.com/channels/735923219315425401/735928836645978263"><img
              src="/images/Discord-Symbol-Blurple.svg" width="45px" height="45px" /></a></li>
        <li><a href="https://100devs.org/"><img src="/images/100devs.jpg" width="45px" height="45px" /></a></li>
        <li><a href="https://together.rocks/"><img src="/images/together.png" width="45px" height="45px" /></a></li>
      </ul>
    </nav>
  </div>
  <div>
    <p>All thanks goes to the 100devs</p>
    <p>Copyright (c) 2025 Author. All Rights Reserved.</p>
  </div>
</footer>