<footer>
  <div>
    <h2>Icon Links</h2>
    <nav>
      <ul>
        <li><a href="#"><img src="https://placehold.co/45"/></a></li>
        <li><a href="#"><img src="https://placehold.co/45"/></a></li>
        <li><a href="#"><img src="https://placehold.co/45"/></a></li>
        <li><a href="#"><img src="https://placehold.co/45"/></a></li>
      </ul>
    </nav>
  </div>
  <div>
    <p>All thanks goes to the 100devs</p>
    <p>Copyright (c) 2025 Author. All Rights Reserved.</p>
  </div>
</footer>
