<header>
  <nav>
    <ul>
      <li><a href="#">LOGO</a></li>
      <li><a href="#">Solutions</a></li>
      <li><a href="#">Product</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Guide</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
</header>
