<html lang="en">
<button type="button" class="btn btn-primary">Notifications</button>
<div hidden>
    <h2>New Notifications</h2>
    <nav>
      <ul>
        <li><a href="#"><img src="https://placehold.co/45"/></a></li>
        <li><a href="#"><img src="https://placehold.co/45"/></a></li>
        <li><a href="#"><img src="https://placehold.co/45"/></a></li>
        <li><a href="#"><img src="https://placehold.co/45"/></a></li>
      </ul>
    </nav>
  </div>
</html>
