<section id="tagSection">
    <span class="close">&times;</span>
    <div class="chartCard">
        <div class="chartBox">
            <canvas id="tagChart"></canvas>
        </div>
    </div>
</section>