<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/reset.css" />
    <link rel="stylesheet" href="public/css/style.css" />
    <title>Index Page of Project Manager</title>
  </head>

  <!-- TODO: inspiration from wrike -->
  <!-- don't forget to use template for better design -->
  <body>
    <!-- header -->
    <%- include('partials/header') %>
    <!-- hero section -->
    <section class="hero">
      <h1>The Platform to manage your project</h1>
      <img src="" alt="screen shot of our finished app">
    </section>
    <!-- features section -->
    <section class="features">
      <h1>Features</h1>
    </section>
    <!-- testimonials section -->
    <section class="testimonials">
      <h1>Testimonials</h1>
    </section>
    <!-- contact-us section -->
    <section class="contact-us">
      <h1>Contact Us</h1>
    </section>
    <a href="/login"> To profile Page</a>
    <!-- footer -->
    <%- include('partials/footer') %>
  </body>
</html>
