<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/reset.css" />
    <link rel="stylesheet" href="public/css/style.css" />
    <title>Index Page of Project Manager</title>
  </head>

  <body>
    <%- include('partials/header') %>
    <h1>Manager you Projects here</h1>
    <a href="/login"> To profile Page</a>
    <%- include('partials/footer') %>
  </body>
</html>
