<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Index Page of Project Manager</title>
  </head>

  <!-- TODO: inspiration from wrike -->
  <!-- don't forget to use template for better design -->
  <body>
    <!-- header -->
    <%- include('partials/header') %>
    <!-- hero section -->
    <section class="hero">
      <div>
        <h1>The Platform to manage your project</h1>
        <p>Futures made of virtual insanity, now. Always seem to be governed by this love we have. For useless twisting of our new technology. Oh, now there is no sound. For we all live underground, whoa</p>
        <div class="hero-testimony">
          <img src="https://placehold.co/60" alt="user pic">
          <span>Jamiroquai</span>
        </div>
      </div>
      <div>
        <img src="https://placehold.co/600x400" alt="screen shot of our finished app">
      </div>
    </section>
    <!-- features section -->
    <section class="features">
      <div>
        <h1>Features</h1>
        <p>Massa velit viverra, tristique ac metus donec ligula aliquam dictumst. Vitae lacus congue pulvinar maecenas gravida dui, sagittis dapibus posuere. Consectetur, dis purus praesent ultricies aliquam nec est, id ultrices.</p>
      </div>
      <div class="feature-card-container">
        <div class="feature-card">
          <img src="https://placehold.co/60" alt="feature">
          <h2>Enterprise-grade security</h2>
          <p>Pretium ac metus ultrices posuere mus imperdiet praesent enim, aenean. Ante suscipit semper, imperdiet nibh nisl vel tortor nullam condimentum.</p>
          <!-- TODO: arrow icon beside the link -->
          <a href="#"><button>Learn More</button></a>
        </div>
        <div class="feature-card">
          <img src="https://placehold.co/60" alt="feature">
          <h2>24/7 global support</h2>
          <p>Tempor eu laoreet nullam arcu, faucibus porta massa laoreet molestie. A lectus morbi nulla elementum etiam vitae eu quam ut.</p>
          <!-- TODO: arrow icon beside the link -->
          <a href="#"><button>Learn More</button></a>
        </div>
        <div class="feature-card">
          <img src="https://placehold.co/60" alt="feature">
          <h2>Easy onboarding</h2>
          <p>Sed fusce adipiscing placerat dapibus dapibus hac consectetur nec, vulputate. Odio, ornare dictumst, fringilla dignissim quis nunc eget vitae porttitor.</p>
          <!-- TODO: arrow icon beside the link -->
          <a href="#"><button>Learn More</button></a>
        </div>
      </div>
    </section>
    <!-- testimonials section -->
    <section class="testimonials">
      <h1>Testimonials from our customer</h1>
      <div>
        <div class="testimonial-card">
          <div>
            <p>"Somebody once told me, The world is gonna roll me, I ain't the sharpest tool in the shed, She was looking kind of dumb, With her finger and her thumb, In the shape of an "L" on her forehead"</p>
            <span>Author</span>
          </div>
          <div>
            <img src="https://placehold.co/400" alt="">
          </div>
        </div>
      </div>
    </section>
    <!-- contact-us section -->
    <section class="contact-us">
      <h1>Contact Us</h1>
      <p>Try our powerful project management software for free</p>
      <form>
        <input type="text" name="costumer" value="" placeholder="Enter business email">
        <button type="submit">Try for free</button>
      </form>
    </section>
    <!-- footer -->
    <%- include('partials/footer') %>
  </body>
</html>
