<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page of Project Manager</title>
</head>

<body>
    <header>
        <nav>
            Welcome
        </nav>
    </header>
    <h1>Manager you Projects here</h1>
    <a href="/AnotherPage"> To another Page</a>
    <footer>
        all thanks goes to the 100devs
    </footer>
</body>
</html>