<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- css link -->
    <link rel="stylesheet" href="public/css/reset.css" />
    <link rel="stylesheet" href="public/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    <title>User Profile</title>
</head>

<body>
    <header>
        <nav>
           Please login
        </nav>
    </header>
  
    <div class="googleAnchor">
        <a href="/auth/google" class='googleAnchor'>
           <button type="button" class="btn red darken-1"> <i class="fab fa-google left"></i> Log In With Google
           </button>
        </a>
    </div>
    <footer>
        all thanks goes to the 100devs
    </footer>
</body>
</html>