<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css link -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login - DevSync</title>

</head>

<body>
    <%- include('partials/header') %>

        <div class="login-container">
            <div class="login-box">
                <img src="/images/vectorlgo.png" alt="DevSync Logo" class="login-logo">

                <%# Display Login Error Messages (from connect-flash or passport failureFlash) %>
                    <% if (typeof error_msg !=='undefined' && error_msg && error_msg.length> 0) { %>
                        <div class="error-message">
                            <%= error_msg %>
                        </div>
                        <% } else if (typeof error !=='undefined' && error && error.length> 0) { %>
                            <%# Passport failureFlash often uses just 'error' %>
                                <div class="error-message">
                                    <%= error %>
                                </div>
                                <% } %>

                                    <form action="/login" method="POST">
                                        <div class="form-group">
                                            <label for="username">Username or Email</label>
                                            <input type="text" id="username" name="username" autocomplete="username"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" id="password" name="password"
                                                autocomplete="current-password" required>
                                        </div>
                                        <button type="submit" class="login-btn">Login</button>
                                    </form>

                                    <div class="divider">OR</div>

                                    <div class="login-options">
                                        <a href="/auth/google" class="google-login-btn">
                                            <i class="fab fa-google"></i>
                                            Continue with Google
                                        </a>
                                    </div>

                                    <div class="signup-link">
                                        Don't have an account? <a href="/signup">Sign up here</a>
                                    </div>
            </div>
        </div>

        <footer class="login-footer">
            <p>All thanks goes to the 100devs</p>
        </footer>
</body>

</html>