<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>

<body>
    <header>
        <nav>
           Please Create your Profile
        </nav>
    </header>
    <form action="/profileCreation?_method=PUT" method="POST">
        <fieldset>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <input type="password" name="password" id="passwordRepeat" required>
            <label for="name">Full Name</label>
            <input type="text" name="name" id="name" required>
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email"required>
            <label for="timeZone">Time Zone</label>
            <input type="text" name="timeZone" id="timeZone"required>
            <label for="birthday">Birthday</label>
            <input type="date" name="birthday" id="birthday"required>
            <label for="country">Country</label>
            <select name="country" id="country"required>
            <option value="thatPlace">'That place'</option>
            </select>
            <input type="submit" value="Login">
        </fieldset>
    </form>
    <footer>
        all thanks goes to the 100devs
    </footer>
</body>
</html>