<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- css link -->
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <!-- fonts link -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <!-- added css links  -->
    <title>User Profile</title>
</head>

<body>
    <!-- header -->
     <!-- changed the nav bar to the partial header -->
    <%- include('partials/header') %>
     <h1>Adjust your profile here</h1>
    <a href="/"> To index Page</a>
 
 <section class="hero">
    <form  action="/project/createProject" method="POST">
        <div class="form-group">
            <label for="name">Project Name</label>
        <input type="text" name="name" id="name" class="form-control" required>
        </div>
        <div class ="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" name="startDate" id="startDate" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" name="endDate" id="endDate" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select name="status" id="status" class="form-control">
                <option value="Not Started">Not Started</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create Project</button>
    </form>
    <ul>
        <% if (typeof projectList !== 'undefined' && Array.isArray(projectList) && projectList.length > 0) { %>
            <% for(let i = 0; i < projectList.length; i++) { %>
                <a href="/project/<%=projectList[i]._id %>"><li><%= projectList[i].name %></li></a>
            <% } %>
        <% } else { %>
            <li>No projects found.</li>
        <% } %>
    </ul>
    
    
    <footer>
        all thanks goes to the 100devs
    </footer>
</body>
</html>