<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>

<body>
    <header>
        <nav>
            Welcome to your profile
        </nav>
    </header>
    <h1>Adjust your profile here</h1>
    <a href="/"> To index Page</a>

    <form  action="/createPoject" method="POST">
        <div class="form-group">
            <label for="name">Project Name</label>
        <input type="text" name="name" id="name" class="form-control" required>
        </div>
        <div class ="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" name="startDate" id="startDate" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" name="endDate" id="endDate" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select name="status" id="status" class="form-control">
                <option value="Not Started">Not Started</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create Project</button>
    </form>
    <footer>
        all thanks goes to the 100devs
    </footer>
</body>
</html>