.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.dragthing {
  background-color: lightgray;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  width: 150px;
}
/* this is needed to keep the columns from wrapping on screen */
#dragparent {
  flex-flow: nowrap;
}
#dragparent::-webkit-scrollbar {
  width: 102px;
  height: 2rem;
}
#dragparent::-webkit-scrollbar-track {
  background: lightgrey;
}
#dragparent::-webkit-scrollbar-thumb {
  background-color: #6e1818;
  border-radius: 20px;
  /* border: 3px solid orange; */
}
