/***************************/
/********** BASE *********/
/***************************/
:root {
  --white: #fff;
  --black: #000;
  --light-green: #EBF5F3;
  --dark-green: #0C3245;
  --green: #08CF65;
  --dark-blue: #181F38;
  --gray: #EBEDF5;
}

body {
  background-color: var(--white);
  font-family: Roboto, sans-serif
}

h1 {
  font-size: 2em;
  font-weight: bold;
  font-family: Poppins, Roboto, sans-serif;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

/***************************/
/********** LAYOUT *********/
/***************************/
.drag-container {
  height: 100%;
  overflow:scroll;
 
}
/* the horizantal scroll bar was at the bottom. to decrease the touches i moved it to the top. */
#dragparent, .dragColumn{
  transform: rotate(180deg);
}


/***************************/
/********** HEADER *********/
/***************************/
header {
  background-color: var(--light-green);
  height: 5em;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  text-align: center;
  display: flex;
  /*align-items: center;*/
  justify-content: space-between;
  /*align-self: center;*/
}

header nav ul {
  justify-content: center;
  display: flex;
  gap: 3em;
  margin: 0 auto;
}

/***************************/
/********** HERO *********/
/***************************/
.hero {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  margin-bottom: 1em;
  /*align-items: center;*/
}

.hero>div {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  /*justify-content: center;*/
}

.hero-testimony {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  align-items: center;
}

/***************************/
/****** Google Button ******/
/***************************/
.btn i {
  font-size: 1.3rem;
  line-height: inherit;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
}

.fab {
  font-weight: 400;
  font-family: "Font Awesome 6 Brands";
  -webkit-font-smooColumn: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

i.left {
  float: left;
  margin-right: 15px;
}

.red.darken-1 {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #E53935 !important;
  color: #fff;
  border: none;
  border-radius: 2%;
  box-shadow: 1px 1px 1px #000;
  vertical-align: middle;
  margin: auto;
}

.googleAnchor {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  align-self: center;
}

/***************************/
/****** Testimonials *******/
/***************************/
.testimonials {
  /*display: flex;*/
  /*flex-flow: row wrap;*/
  text-align: center;
  background-color: var(--white);
}

.testimonial-card {
  display: flex;
  /*flex-flow: row wrap;*/
  padding: 1em;
  margin: 3em;
  background-color: var(--light-green);
  border-radius: 10px;
}

.testimonial-card>div {
  width: 50%;
}

/*.testimonials.card>div:first-child() {*/
/*  width: 70%;*/
/*}*/
/**/
/*.testimonials.card>div:last-child() {*/
/*  width: 30%;*/
/*}*/

/***************************/
/********** Features *********/
/***************************/
.features {
  background-color: var(--gray);
  text-align: center;
  padding: 2em;
}

.feature-card-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  gap: 1.5em;
}

.feature-card {
  background-color: var(--white);
  text-align: left;
  padding: 1em;
  border-radius: 10px;
}

/*TODO: .feature-card hover and focus state */

.feature-card a {
  color: var(--dark-green);
}

/***************************/
/********** Contact Us *********/
/***************************/
.contact-us {
  padding: 1em;
  background-color: var(--dark-blue);
  color: var(--white);
  text-align: center;
}

h1,
p {
  margin-bottom: 0.5em;
}

.contact-us form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  /*column-gap: 3em;*/
}

.contact-us input {
  padding: 0.4em 1em;
  /*border: 0.2em solid var(--white);*/
  border-radius: 10px;
  border: none;
  height: 3em;
  /*margin: 0 2em;*/
}

.contact-us button {
  padding: 0.4em 1em;
  background-color: var(--green);
  color: var(--white);
  /*border: 0.2em solid var(--white);*/
  border-radius: 10px;
  border: none;
  height: 3em;
  font-weight: bold;
}

/***************************/
/********** FOOTER *********/
/***************************/
footer {
  padding: 1em;
  background-color: var(--dark-green);
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
}

footer nav {
  display: flex;
  text-align: center;
  margin-bottom: 2em;
}

footer nav ul {
  display: flex;
  gap: 3em;
  margin: 0 auto;
}

/***************************/
/********** Project *********/
/***************************/
.project-card {
  padding: 1em;
  border: 0.2em solid var(--black);
  border-radius: 10px;
}
.dragDocument{
  border: 1px,solid,black;
  background-color: #08CF65;
  z-index: 1;
  position:relative;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}